In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
df=pd.read_csv('retail_data.csv')

In [ ]:
df.shape

In [ ]:
df.head(3)

In [ ]:
df.info()

In [ ]:
#DATA CLEANING


ds=df.drop(columns=['Transaction_ID','Name','Email','Phone','Address','Zipcode','Order_Status'])
#Dropping the columns that are unnecessary with respect to big picture and also considering that Order_Status is complete for all processes.

In [ ]:
ds.isnull().sum()

In [ ]:
columnsToFill=['Age','Total_Purchases','Amount','Total_Amount','Ratings']
for column in columnsToFill:
    ds[column]=ds[column].fillna(ds[column].mean())
    ds[column]=ds[column].astype('int')    
#filling all null values in float64 columns with their respective mean values and changing them to whole numbers for simplicity.

In [ ]:
ds.isnull().sum()
#checking for null values

In [ ]:
ds.dropna(inplace=True)
#dropping all rows that contain null values

In [ ]:
ds.isnull().sum()
#checking for null values, hoping for a cleaned data

In [ ]:
ds.shape
#checking shape of cleaned data

In [ ]:
df.shape[0]-ds.shape[0]
#check for number of rows that got deleted in DATA CLEANING

In [ ]:
ds.head(3)

In [ ]:
ds[['Age','Total_Purchases','Amount','Total_Amount','Ratings']].describe()
#basic parameters of cleaned data

In [ ]:
#EXPLORATORY DATA ANALYSIS

In [ ]:
#Plotting graph for Gender
sns.set(rc={'figure.figsize':(3, 5)})
ax = sns.countplot(x = 'Gender' ,data = ds)
for bars in ax. containers:
  ax. bar_label(bars)

In [ ]:
#Plotting graph for Total_Amount vs Gender
sns.set(rc={'figure.figsize':(3, 5)})
sales_gen = ds.groupby(['Gender'], as_index=False)['Total_Amount'].sum().sort_values(by='Total_Amount',ascending=False)
sns.barplot(x ='Gender',y='Total_Amount',data =sales_gen)

Inference1: Male buyers are more and they have spent more money than female.

In [ ]:
#Age

sns.set(rc={'figure.figsize':(35, 5)})
ax = sns.countplot(x = 'Age' ,hue='Gender', data = ds)
for bars in ax. containers:
  ax. bar_label(bars)

In [ ]:
sales_gen = ds.groupby(['Age'], as_index=False)['Total_Amount'].sum().sort_values(by='Total_Amount',ascending=False)
sns.barplot(x ='Age',y='Total_Amount',data =sales_gen)

Inference2: Buying is highest among younger people aged 19-26 (least at 25), with noticeable peaks at ages 34 and 46 and male buyers being more than female in every age.

In [ ]:
sns.set(rc={'figure.figsize':(8, 5)})

#CountryVsTotal_Purchases
sales_gen = ds.groupby(['Country'], as_index=False)['Total_Purchases'].sum().sort_values(by='Total_Purchases',ascending=False)
sns.barplot(x ='Country',y='Total_Purchases',data =sales_gen)

In [ ]:
sns.set(rc={'figure.figsize':(8, 5)})

#CountryVsTotal_Amount
sales_gen = ds.groupby(['Country'], as_index=False)['Total_Amount'].sum().sort_values(by='Total_Amount',ascending=False)
sns.barplot(x ='Country',y='Total_Amount',data =sales_gen)

Inference3: Total Purchases and Total Amount follow same trend accross countries with USA being highest.

In [ ]:
sns.set(rc={'figure.figsize':(25, 5)})

#StateVsTotal_Purchases
sales_gen = ds.groupby(['State'], as_index=False)['Total_Purchases'].sum().sort_values(by='Total_Purchases',ascending=False).head(20)
sns.barplot(x ='State',y='Total_Purchases',data =sales_gen)

In [ ]:
sns.set(rc={'figure.figsize':(25, 5)})

#StateVsTotal_Amount
sales_gen = ds.groupby(['State'], as_index=False)['Total_Amount'].sum().sort_values(by='Total_Amount',ascending=False).head(20)
sns.barplot(x ='State',y='Total_Amount',data =sales_gen)

Inference4: States follow same trend for Total Purchases and Total Amount only upto top 9 states and the first USA state appears at fifth position despite USA being the largest buyer.

In [ ]:
ds.columns

In [ ]:
sns.set(rc={'figure.figsize':(3,5)})

#IncomeVsTotal_Amount_Average
sales_gen = ds.groupby(['Income'], as_index=False)['Total_Amount'].mean().sort_values(by='Total_Amount',ascending=False)
sns.barplot(x ='Income',y='Total_Amount',data =sales_gen)
plt.xlabel('Income Category')
plt.ylabel('Average Total Amount Spent')

Inference5: Average total amount is almost same for all kinds of buyers. People from All income categories spend almost same on an average.

In [ ]:
#Product_Category
sns.set(rc={'figure.figsize':(7,5)})
ax = sns.countplot(x = 'Product_Category' ,data = ds)
for bars in ax. containers:
  ax. bar_label(bars)

In [ ]:
#Product_CategoryVsTotal_Amount
sales_gen = ds.groupby(['Product_Category'], as_index=False)['Total_Amount'].sum().sort_values(by='Total_Amount',ascending=False)
sns.barplot(x ='Product_Category',y='Total_Amount',data =sales_gen)

Inference6: People spend most on Electronics, then on grocery and then on Clothing, Books and Home decor.

In [ ]:
#Product_TypeVsTotal_Purchases
sns.set(rc={'figure.figsize':(15,5)})
sales_gen = ds.groupby(['Product_Type'], as_index=False)['Total_Purchases'].sum().sort_values(by='Total_Purchases',ascending=False).head(10)
ax=sns.barplot(x ='Product_Type',y='Total_Purchases',data =sales_gen)

In [ ]:
sales_gen = ds.groupby(['Product_Type'], as_index=False)['Total_Amount'].sum().sort_values(by='Total_Amount',ascending=False).head(10)
ax=sns.barplot(x ='Product_Type',y='Total_Amount',data =sales_gen)

In [ ]:
#Product_BrandVsTotal_Amount
sns.set(rc={'figure.figsize':(25,5)})
sales_gen = ds.groupby(['Product_Brand'], as_index=False)['Total_Amount'].sum().sort_values(by='Total_Amount',ascending=False)
ax=sns.barplot(x ='Product_Brand',y='Total_Amount',data =sales_gen)

Inference7: Water is the highest selling and revenue-making product, and Pepsi is highest revenue making brand.

In [ ]:
ds.columns

In [ ]:
#Month
ax = sns.countplot(x = 'Month' ,data = ds)
for bars in ax. containers:
  ax. bar_label(bars)

In [ ]:
sales_gen = ds.groupby(['Month'], as_index=False)['Total_Amount'].sum().sort_values(by='Total_Amount',ascending=False)
ax=sns.barplot(x ='Month',y='Total_Amount',data =sales_gen)

Inference8: April is the peak season of shopping

In [ ]:
#Feedback
sns.set(rc={'figure.figsize':(5,5)})
ax = sns.countplot(x = 'Feedback' ,data = ds)
for bars in ax. containers:
  ax. bar_label(bars)

In [ ]:
#Ratings
sns.set(rc={'figure.figsize':(5,5)})
ax = sns.countplot(x = 'Ratings' ,data = ds)
for bars in ax. containers:
  ax. bar_label(bars)

Inference9: Significant portion of buyers consider the product to be average and less

In [ ]:
#Shipping_Method
sns.set(rc={'figure.figsize':(5, 5)})
ax = sns.countplot(x = 'Shipping_Method' , data = ds)
for bars in ax. containers:
  ax. bar_label(bars)

In [ ]:
#Payment_Method
sns.set(rc={'figure.figsize':(30, 5)})
ax = sns.countplot(x = 'Shipping_Method' ,hue='Payment_Method', data = ds)
for bars in ax. containers:
  ax. bar_label(bars)

Inference10: All kinds of shipping methods are equally opted by buyers with Credit Card being most opted payment method in every scenario.

In [ ]:
ds.head(1)